extends layout.pug
block title
  | My Awesome Deck
block slides
  section
    h1 Awesome Deck
  section
    h2 Slide with code
    p Voici un code en Python
    pre
      code.language-python.
        def fct(x):
          if x &lt; 0:
            return -x
          return x
    p.document-only
      This text is only visible in document mode

  section
    h2 Slide with code
    pre.line-numbers
      code.language-javascript.
        function fct(x) {
          if(x &lt; 0) return -x;
          return x;
        }
  section
    h2 Slide with image
    img(src="https://i.ytimg.com/vi/OJa4HPVAk3A/maxresdefault.jpg")

  section
    h2 Too long slide scroll
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper nibh at velit vestibulum vehicula. Nulla ac egestas nisi. Proin eu tristique enim. Integer blandit viverra metus at hendrerit. Fusce sed molestie nulla. Nullam sollicitudin sed justo vel feugiat. Integer lobortis mattis lorem id accumsan. Aenean iaculis id risus at viverra. Duis elementum orci ut velit fermentum, fringilla tempor arcu dapibus. Fusce quam arcu, efficitur vel placerat hendrerit, interdum sit amet leo. Vestibulum ac urna quam. Cras interdum arcu at mauris laoreet, vel elementum lectus aliquet. Integer ipsum risus, tincidunt eget diam non, tristique feugiat odio. Vestibulum congue libero tortor, ac vehicula tellus finibus et.
    p Donec ac massa eget eros vehicula blandit vel in est. Nullam lacinia maximus ligula rutrum tempus. Pellentesque accumsan purus ut purus consectetur, at eleifend augue interdum. Donec ullamcorper imperdiet lorem eu faucibus. Phasellus lectus erat, sodales ac sollicitudin ut, posuere sed erat. Donec consequat metus eget risus tempor, ut euismod sem pharetra. Nulla eu bibendum ligula. Suspendisse dapibus malesuada tortor non varius. Sed aliquam, est ac mattis feugiat, sem mi pretium ipsum, a scelerisque risus ex ut odio. Phasellus dui ex, rutrum at nisi ut, dapibus auctor ligula. Nunc vel suscipit orci, sit amet dapibus sem. Sed mi sem, dictum a ornare varius, pharetra ut tellus. Curabitur hendrerit justo tempor tellus sodales, sed placerat eros sollicitudin. Sed rhoncus, ligula vitae auctor condimentum, elit erat cursus neque, in sagittis ipsum nunc quis sem. Sed mollis tellus ac libero sollicitudin, ut pretium elit efficitur.
    p Ut urna nisl, fermentum in nisl lacinia, lacinia consectetur magna. Donec interdum scelerisque dui, a aliquam ante lacinia ut. Vivamus a dui at orci auctor mollis. Cras dapibus feugiat metus nec congue. Praesent laoreet interdum vehicula. Fusce lacinia lorem ac neque ullamcorper, id malesuada velit posuere. Proin congue justo mi, eget bibendum lacus efficitur in. Duis et placerat augue, in scelerisque lacus. Vivamus vitae dapibus ipsum. Fusce molestie eros eget felis luctus, ut congue sem pellentesque. Praesent eget nisi erat. Nam in ultricies purus. Donec consequat massa sit amet cursus porta. Morbi lobortis dolor eu leo auctor congue.
    p In hac habitasse platea dictumst. Cras sit amet tincidunt arcu. Cras ac sollicitudin lorem. Maecenas sollicitudin elit luctus, tincidunt nisl quis, cursus diam. Nam vel lacus vel enim accumsan sollicitudin. Integer varius massa vitae nisl placerat ullamcorper. Sed lacinia mi sed diam sagittis, at volutpat metus tempus. Aenean nec lacus mattis, laoreet quam ut, facilisis nunc. Vivamus eget leo ac ante tristique bibendum non id felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec viverra mollis lacus, eget malesuada erat sollicitudin a. Aenean eros ipsum, sagittis quis massa ac, luctus pharetra nulla. Nulla vulputate, nisl at scelerisque dictum, mi ex mollis elit, sit amet luctus lacus diam ultricies purus. Pellentesque at mi lobortis, interdum erat id, dapibus ex. Vivamus ac purus nec justo bibendum accumsan.
    p Fusce bibendum nisi id mattis molestie. Aenean sed sem eu lorem tincidunt finibus. Aenean quis volutpat urna. Suspendisse a sapien nunc. Sed cursus enim non purus sodales, et scelerisque urna tincidunt. Donec ut auctor sem. Pellentesque luctus odio eros, a dignissim dui sagittis eget. Curabitur quis tortor vel quam auctor vestibulum in elementum diam. Pellentesque velit justo, mattis tempus mauris non, interdum lobortis purus. Curabitur molestie in orci laoreet imperdiet. In cursus lacus arcu, venenatis sodales tellus porttitor ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque mollis sem vel tempus suscipit. Nam dapibus sapien nec condimentum sollicitudin. Aliquam elementum imperdiet purus ut pretium.
  section.full
    h2 Fullscreen Image
    img(src="http://i.imgur.com/HoG4VbZ.jpg")
  section
    h2 Awesome Slide
    ul
      li This is #[strong important]
        small don't forget it
      li Please
      li Enjoy
  section
    h2 Math
    ul
      li Some inline Math: $\frac{1}{2}$
      li Some display Math: $$ f(x) = \int_{-\infty}^\infty \hat f(\xi)\,e^{2 \pi i \xi x} \,d\xi $$
  section
    h2 Columns
    .row
      .col.span_6_of_12
        p First Column
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper nibh at velit vestibulum vehicula. Nulla ac egestas nisi. Proin eu tristique enim. Integer blandit viverra metus at hendrerit. Fusce sed molestie nulla. Nullam sollicitudin sed justo vel feugiat. Integer lobortis mattis lorem id accumsan. Aenean iaculis id risus at viverra. Duis elementum orci ut velit fermentum, fringilla tempor arcu dapibus. Fusce quam arcu, efficitur vel placerat hendrerit, interdum sit amet leo. Vestibulum ac urna quam. Cras interdum arcu at mauris laoreet, vel elementum lectus aliquet. Integer ipsum risus, tincidunt eget diam non, tristique feugiat odio. Vestibulum congue libero tortor, ac vehicula tellus finibus et.
      .col.span_6_of_12
        p Second Column
        p Ut urna nisl, fermentum in nisl lacinia, lacinia consectetur magna. Donec interdum scelerisque dui, a aliquam ante lacinia ut. Vivamus a dui at orci auctor mollis. Cras dapibus feugiat metus nec congue. Praesent laoreet interdum vehicula. Fusce lacinia lorem ac neque ullamcorper, id malesuada velit posuere. Proin congue justo mi, eget bibendum lacus efficitur in. Duis et placerat augue, in scelerisque lacus. Vivamus vitae dapibus ipsum. Fusce molestie eros eget felis luctus, ut congue sem pellentesque. Praesent eget nisi erat. Nam in ultricies purus. Donec consequat massa sit amet cursus porta. Morbi lobortis dolor eu leo auctor congue.
        
